* {
	box-sizing: border-box;
}

body {
	font: normal 16px Helvetica, Arial, sans-serif;
	margin-top: 256px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 60px;
	background-color: #dddddd;
}

body h2 {
	font-size: 1.5em;
	font-weight: 600;
}

p {
	padding: 0px 5px;
}

body .row {
	text-align: center;
}

.user-icon {
	height: auto;
	width: 210px;
	border-radius: 50px;
	padding: 5px 0px;
}

.nav-bar {
	overflow: hidden;
	background-color: #2a333e;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

#site-title {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
}

.nav-bar a {
	display: block;
	text-align: center;
	color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover {
	text-decoration: underline;	
}

.row {
	clear: both;
	overflow: auto;
}

.enjoy-list li {
	list-style-type: circle;
	list-style-position: inside;
}

footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #2a333e;
	color: white;
	height: 60px;
	z-index: 100;
	display: block;
}

.social-icon {
	padding: 5px 0px;
	width: 25px;
	height: 36px;
}

@media all and (min-width: 540px) {
	body {
		margin-top: 46px;
	}
	
	.row {
		display: flex;
		flex-wrap: wrap;
	}
	
	.col-3-4 {
		width: 75%;
		padding-left: 5px;
	}
	
	.col-3-4 > h2 {
		margin: 15px 0px;
	}
	
	#nav-bar-text-order {
		float: right;
	}
		
	.nav-bar a {
	    display: inline-block;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}
	
	#site-title {
		float: left;
	    display: block;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 14px 16px;
	    font-weight: bold;
	}
	
	.nav-bar a:hover {
		background: #969baf;
		color: #ffffff;
		text-decoration: none;
	}
	
	.nav-bar-mobile {
		display: none
	}
	
	body .row {
		text-align: left;
	}
	
	.user-icon {
/* 		display: block; */
		margin: 10px auto;
		height: 220px;
		width: 235px;
	}

	footer {
		text-align: center;
	}

@media all and (max-width: 970px) {
	.row{
		flex-direction: column;
	}
	
	.col-3-4 {
		margin: auto;
	}
	
	.col-3-4 > h2 {
		text-align: center;
	}
	
	.col-3-4 > p {
		text-align: center;
	}
	
	.col-1-4 {
		margin: auto;
	}
	
}

@media all and (max-width:260px) {
	.row {
		padding-top: 10px;
	}
	
	.user-icon {
		height: 60px;
		width: auto;
	}
}


@media all and (max-width:162px) {
	.user-icon {
		height: 60px;
		width: auto;
	}
	
	.row {
		padding-top: 25px;
	}
}